<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <logger name="org.springframework.web.client" level="DEBUG"/>
    <logger name="com.kakaopay.pretest" level="DEBUG"/>
</configuration>